{% extends 'navbar.html' %}
{% load static %}


{% block content %}
<head>
    <title>Aplikacja</title>
    <link rel="stylesheet" href="{%static 'sklep.css'%}">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>

<h1 id="title">Aplikacja</h1>

<div id="contactwindow">
    <p>Link do pobrania aplikacji:</p>
    

    <form id="myForm" onsubmit="openWebsite(); return false;">
        <button class="cta" type="submit">
            <span>Pobierz aplikację</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </button>
    </form>

    <script>
        function openWebsite() {
            var url = "https://drive.google.com/file/d/1dMVRAztfl0Alvb1xJZMgSNAzfpCZBDb3/view?usp=drive_link";
            window.open(url, '_blank');
        }
    </script>
    <p>Aplikację należy rozpakować.</p>
    <p>Uruchomienie aplikcaji następuje po otwarciu pliku .exe w lokalizacji: ProjektZPI\bin\Debug\ProjektZPI.exe</p>
</div>
{% endblock %}