{% extends 'navbar.html' %}
{% load static %}


{% block content %}
<head>
    <title>Płatność i wysyłka</title>
    <link rel="stylesheet" href="{%static 'sklep.css'%}">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>
        <p id="title">Płatność oraz wysyłka</p>
        <p id="tekst">
            1. Formy Płatności:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Akceptujemy różne formy płatności, aby ułatwić proces zakupowy. Możesz skorzystać z następujących metod płatności:<br />

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Płatność kartą kredytową/debetową<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Przelew bankowy<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Płatności online (np. PayPal)<br />

            2. Bezpieczeństwo Płatności:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Zapewniamy bezpieczne środowisko płatności online. Wszystkie transakcje są szyfrowane, co gwarantuje ochronę Twoich danych finansowych.
            <br />
            3. Potwierdzenie Płatności:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Po zakończeniu transakcji otrzymasz potwierdzenie płatności na podany adres e-mail. Prosimy zachować potwierdzenie jako dowód zakupu.
        </p>
        <p id="tekst">
            1. Opcje Wysyłki:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Oferujemy różne opcje dostawy, abyś mógł wybrać najwygodniejszą dla siebie. Dostępne opcje obejmują:<br />

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Standardowa wysyłka<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ekspresowa dostawa<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Odbiór osobisty w sklepie (jeśli dostępny)<br />

            2. Koszty Wysyłki:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Koszty wysyłki zależą od wybranej opcji oraz miejsca dostawy. Szczegółowe informacje znajdziesz w koszyku przed dokonaniem płatności.<br />

            3. Czas Dostawy:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Szacowany czas dostawy zależy od wybranej opcji dostawy oraz lokalizacji. Podajemy orientacyjny czas dostawy przy każdym produkcie oraz na etapie finalizacji zamówienia.<br />

            4. Śledzenie Przesyłki:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Po wysłaniu zamówienia otrzymasz numer śledzenia, który pozwoli Ci na bieżąco monitorować status przesyłki.<br />

            5. Miejsca Dostawy:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Realizujemy dostawy na terenie [kraj/kraje], a także oferujemy międzynarodową wysyłkę. Sprawdź dostępność dla konkretnej lokalizacji podczas składania zamówienia.<br />

            6. Paczki Ubezpieczone:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Wszystkie przesyłki są ubezpieczone, co oznacza, że w przypadku zagubienia lub uszkodzenia paczki w trakcie transportu, podejmiemy odpowiednie kroki w celu rozwiązania problemu.<br />

            7. Odbiór w Punkcie Pocztowym:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Jeśli wybierzesz standardową wysyłkę, istnieje opcja odbioru przesyłki w najbliższym punkcie pocztowym.<br />

            8. Zagraniczne Wysyłki:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Oferujemy międzynarodową dostawę. Koszty i czas dostawy zagranicznej przesyłki mogą się różnić. Prosimy o skontaktowanie się z nami w celu uzyskania dokładnych informacji.<br />

            9. Komunikaty o Statusie:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Będziemy informować Cię o kluczowych etapach przesyłki, takich jak potwierdzenie zamówienia, wysłanie przesyłki oraz jej dostarczenie.<br />


        </p>

{% endblock %}
