{% extends 'navbar.html' %}
{% load static %}


{% block content %}
<head>
    <title>Regulamin</title>
    <link rel="stylesheet" href="{%static 'sklep.css'%}">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>
        <p id="title">Regulamin</p>
        <p id="tekst">
            Regulamin Sklepu Internetowego "Foczki"
            <br />
            1. Postanowienia ogólne:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;1.1. Niniejszy regulamin określa zasady korzystania ze sklepu internetowego "Foczki" oraz warunki dokonywania zakupów.
            <br />
            2. Zamówienia:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;2.1. Zamówienia można składać za pośrednictwem strony internetowej sklepu.
            <br />
            3. Ceny:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;3.1. Wszystkie ceny podane w sklepie są cenami brutto.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;3.2. Sklep zastrzega sobie prawo do zmiany cen bez wcześniejszego powiadomienia.
            <br />
            4. Płatności:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;4.1. Akceptujemy płatności kartą kredytową oraz systemem płatności online.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;4.2. Zamówienie zostanie zrealizowane po potwierdzeniu otrzymania płatności.
            <br />
            5. Dostawa:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;5.1. Terminy dostawy są uzależnione od dostępności towaru i wybranej formy przesyłki.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;5.2. Klient ponosi koszty dostawy zgodnie z obowiązującym cennikiem.
            <br />
            6. Zwroty i reklamacje:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;6.1. Klient ma prawo do zwrotu towaru w terminie 14 dni od daty otrzymania zamówienia.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;v6.2. Reklamacje dotyczące wad lub uszkodzeń towaru prosimy zgłaszać niezwłocznie po otrzymaniu przesyłki.
            <br />
            7. Ochrona danych:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;7.1. Dane osobowe Klientów są chronione zgodnie z obowiązującymi przepisami o ochronie danych osobowych.
            <br />
            8. Postanowienia końcowe:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;8.1. Niniejszy regulamin jest ważny od daty opublikowania na stronie sklepu.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;8.2. Sklep zastrzega sobie prawo do zmiany regulaminu.
        </p>

{% endblock %}
