{% extends 'navbar.html' %}
{% load static %}


{% block content %}
<head>
    <link rel="stylesheet" href="{%static 'sklep.css'%}">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>
<div id="registerwindow">
    <div class="form-group">
        <form method="POST" id="registrationForm" onsubmit="return validateForm()" action="/zmianaHasla/">
            {% csrf_token %}
            {{form.as_p}}
            <br />
            <button class="cta" type="submit">
                <span>Zmień hasło</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </form>
    </div>
</div>
        <script>
            var closeButtons = document.querySelectorAll('.close-button');
        
            closeButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var alert = this.closest('.custom-alert');
                    if (alert) {
                        alert.style.display = 'none';
                    }
                });
            });
        </script>
        
{% endblock %}
